<style src="./Search.scss" module lang="scss"></style>
<script src="./Search.ts" lang="ts"></script>

<template>
  <input :class="[$style.search]"
         type="text"
         v-bind:placeholder="$t('search_placeholder')"
         v-bind:value="$route.query.s"
         @keyup="handleKeyUp"
  >
</template>
