<style src="./BreweryList.scss" module lang="scss"></style>
<script src="./BreweryList.ts" lang="ts"></script>

<template>
  <ul :class="[$style.breweryList]">
    <li
      v-for="breweryGroup in breweryGroups"
      v-bind:key="breweryGroup.id"
    >
      <h3>{{$t(breweryGroup.displayName)}}</h3>
      <ul>
        <li
          v-for="brewery in breweryGroup.breweries"
          v-bind:key="brewery.id"
        >
          {{ brewery.name }}
        </li>
      </ul>
    </li>
  </ul>
</template>
