:local {
  .home-page {
    .filters {
      display: flex;
      border: 1px #ccc solid;
      margin: 10px;
      padding: 5px;
      justify-content: space-between;

      div {
        width: 50%;
      }
    }
  }
}
