<style src="./HomePage.scss" module lang="scss"></style>
<script src="./HomePage.ts" lang="ts"></script>

<template>
  <div :class="[$style.homePage]">
    <Header />
    <Search />

    <div :class="[$style.filters]">
      <div>
        <h2>{{$t('filter.filter_title')}}</h2>
        <ul>
          <li v-for="filterGroup in filterGroups" :key="filterGroup.name">
            {{filterGroup.name}}
            <ul>
              <li v-for="filter in filterGroup.filters" :key="filter.id">
                <FilterItem :filter="filter" :filterGroup="filterGroup" />
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div>
        <h2>{{$t('group.group_title')}}</h2>
        <input type="radio" :id="filterGroupsTypes.COUNTRY" :value="filterGroupsTypes.COUNTRY" v-model="group"><label>{{$t('group.country')}}</label>
        <input type="radio" :id="filterGroupsTypes.TYPE" :value="filterGroupsTypes.TYPE" v-model="group"><label>{{$t('group.type')}}</label>
      </div>
    </div>

    <BreweryList :brewery-groups="getBreweries(this.$route.query)" />
  </div>
</template>
