<style src="./FilterItem.scss" module lang="scss"></style>
<script src="./FilterItem.ts" lang="ts"></script>

<template>
  <button
    :class="[
      $style.filter,
      isActive(filterGroup, filter) ? $style.isActive : null,
     ]"
    @click="handleFilterChange(filterGroup, filter)"
  >{{filter.name}}</button>
</template>
