<style src="./{{name_pc}}.scss" module lang="scss"></style>
<script src="./{{name_pc}}.ts" lang="ts"></script>

<template>
  <div :class="[$style.{{name_cc}}]">
    <h2>{{name_pc}}</h2>
  </div>
</template>
