<style src="./Header.scss" module lang="scss"></style>
<script src="./Header.ts" lang="ts"></script>

<template>
  <header :class="[$style.header]">
    <icon name="beer" />
    <h1>{{ $t('breweries_title') }}</h1>
  </header>
</template>
