:local {
  .header {
    padding: 14px;
    border-bottom: 1px #999 solid;
    box-shadow: 0 0 10px #ccc;
    position: fixed;
    width: 100%;
    background: #fff;

    h1 {
      display: inline-block;
      padding-left: 15px;
    }
  }
}
